name: Generate Snake Animation

on:
  schedule:
    - cron: "0 0 * * *" # Her gece 00:00'da çalışır
  workflow_dispatch: # Manuel tetikleme sağlar (Test için önemli)
  push:
    branches:
    - main # Main branch'e her push attığında güncellenir

jobs:
  generate:
    permissions: 
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: generate github-contribution-grid-snake.svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: SubutayX
          outputs: |
            dist/github-contribution-grid-snake.svg?palette=github-dark&color_snake=#4ECDC4
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=#FF6B6B&color_dots=#161b22,#0e4429,#26a641,#39d353,#26a641

      - name: push github-contribution-grid-snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
